@if (member(); as member){
  <div class="flex flex-col gap-3">
    <div class="flex gap-2">
      <span class="class font-semibold">Member since: </span>
      <span>{{member.created | date:"longDate"}}</span>
    </div>
    <div class="flex gap-2">
      <span class="class font-semibold">Last active: </span>
      <span>{{member.lastActive | date:"EEEE, MMMM d, y, h:mm:ss a"}}</span>
    </div>
    <h3 class="class text-lg font-semibold text-primary">About {{member.displayName}}</h3>

    @if (memberService.editMode()) {
      <div>
        El perfil va aqui
      </div>
    } @else {
      <div>
        {{member.description}}
      </div>
    }
  </div>
}
